
  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .headingDiv
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding: 10px;
    float: none;
  }
  .headingDiv2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  canvas
  {
    border-radius: 3px;
    border-color: black;
    box-shadow:5px 5px 5px grey;
    margin-top: 160px;
  }
 